body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(green, red);
  font-family: sans-serif;
}

h1{
  font-size: 45px;
  text-align: center;
  color: black;
}



* {
  padding: 0;
  margin: 0;
}



button:hover {
  cursor: pointer;
  background-color: #73E831;
}

ul {
  list-style-type: none; /* get rid of bullet points on side of list items */
}

/* common style ends */

/* container */
.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #fff;
  font-size: 3rem;
}

/* todo-form */

.todo-form {
  margin: 40px 0px;
}

.todo-input {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.add-button {
  background-color: #0000ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}

/* todo-form style ends */

/* todo-items */
.todo-items {
  min-width: 350px;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* item style end */

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}

/* applied when the todo item is checked */
.checked { 
  text-decoration: line-through;
}

/* todo-items style ends */

/* container style ends */


.icon-bar {
  margin: 20px;
  position: fixed;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.icon-bar a {
  display: block;
  text-align: center;
  left: 0%;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px; }

.icon-bar a:hover {
  background-color: #000; }

.facebook {
  background: #3B5998;
  color: white; }

.twitter {
  background: #55ACEE;
  color: white; }

.google {
  background: #dd4b39;
  color: white; }

.linkedin {
  background: #007bb5;
  color: white; }

.youtube {
  background: #bb0000;
  color: white; }


.content{
  width: 500px;
  height: 350px;
  margin: auto;
  border: 3px solid #73AD21;
  background-color: rgb(66, 22, 224);
}




.clock {
position: fixed;
  top: 50%;
  left: 50%;
  right: 0%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
 
}

.calendario {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  margin: .4rem 0;
  align-items: center;
  width: 100px;
  height: 35px;
  top: 20%;
  border: 3px solid #0c0c0c;
  color: white;
}

